lobogris/__pycache__
lobogris/static/assets/home/node_modules
lobogris/static/assets/home/gulpfile.js
lobogris/static/assets/home/package.json
lobogris/static/assets/home/package-lock.json
venv
pantera/__pycache__
db.sqlite3