/* reset */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #F9F9F9;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************MOBILE DEVICES*****************/
/****************TABLET DEVICES*****************/
/****************DESKTOPS DEVICES*****************/
/****************REGLAS POR ALTOS*****************/
/****************MOBILE LANDSCAPE*****************/
/****************TABLET LANDSCAPE*****************/
/****************TABLET PORTRAIT*****************/
/****************ONLY IE10+*****************/
body {
  background-image: url("../images/bkg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans";
  height: 100vh;
}

.tras {
  background-image: url("../images/mask_.svg");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0 4%;
  width: 80%;
}

@media (min-width: 415px) {
  .tras {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .tras {
    width: 50%;
  }
}

.tras .logo {
  margin-bottom: 63px;
  padding-top: 6%;
}

.tras .content {
  width: 90%;
}

@media (min-width: 415px) {
  .tras .content {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .tras .content {
    width: 80%;
  }
}

.tras .content_text h2 {
  color: #4527A0;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 21px;
}

.tras .content_text p {
  color: 333;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 14px;
}

.tras .content_text button {
  background: linear-gradient(93.14deg, #0277BD -3.39%, #4527A0 104.04%);
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 42px;
  padding: 11px 26px;
  text-transform: uppercase;
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.9);
  visibility: hidden;
  z-index: -2;
  transition: .35s ease;
}

.modal_content {
  height: 540px;
  position: relative;
  width: 90%;
}

@media (min-width: 415px) {
  .modal_content {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .modal_content {
    width: 370px;
  }
}

.modal_content_form {
  background-color: white;
  box-sizing: border-box;
  border-radius: 14px;
  bottom: 0;
  left: 0;
  padding: 35px 28px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

.modal_content_form h3 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 28px;
}

.modal_content_form p {
  color: #333;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 28px;
}

.modal_content_form div {
  margin-bottom: 35px;
  position: relative;
}

.modal_content_form div.input--filled label {
  font-size: 12px;
  left: -1px;
  top: -10px;
}

.modal_content_form div label {
  font-size: 14px;
  font-weight: bold;
  left: 0;
  user-select: none;
  position: absolute;
  top: 10px;
  transition: .35s ease;
}

.modal_content_form div input {
  border: 0;
  border-bottom: 2px solid #333;
  box-sizing: border-box;
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  padding: 9px 0;
  width: 100%;
}

.modal_content_form div input:focus {
  outline: none;
}

.modal_content_form div input:autofill, .modal_content_form div input:-webkit-autofill, .modal_content_form div input:-internal-autofill-selected {
  background-color: transparent !important;
}

.modal_content_form button {
  background: linear-gradient(93.14deg, #0277BD -3.39%, #4527A0 104.04%);
  border-radius: 4px;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 7px;
  padding: 11px 26px;
  text-transform: uppercase;
  width: 100%;
}

.modal_content_form button:disabled {
  background: #ddd;
  color: #4527A0;
  cursor: not-allowed;
}

.modal_content_form .error {
  color: #D32F2F;
  font-size: 12px;
  font-weight: bold;
}

.modal_content_message {
  background: linear-gradient(334.91deg, #4527A0 0%, #0277BD 100%);
  box-sizing: border-box;
  border-radius: 14px;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  padding: 35px 28px;
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  z-index: -2;
}

.modal_content_message h3 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 35px;
}

.modal_content_message p {
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
}

.modal_content_message.active {
  z-index: 4;
}

.modal_content .material-symbols-sharp {
  cursor: pointer;
  font-size: 42px;
  position: absolute;
  right: 14px;
  top: 14px;
  z-index: 9;
}

.modal.active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  z-index: 2;
}