{% extends './../base.html' %}
{% block content %}
{% load static %}
<h4 class="fw-bold py-3 mb-4 d-flex justify-content-between">
  <span class="text-muted fw-light">Proyectos/</span>
  <a class="btn btn-primary text-white" href="/workarea/projects/create/">
    <span class="tf-icons bx bx-plus"></span>&nbsp; Crear nuevo
  </a>
</h4>
<!-- Basic Bootstrap Table -->
<div class="card">
  <div class="table-responsive text-nowrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Código</th>
          <th>Tipo de ingreso</th>
          <th>Presupuesto</th>
          <th>Cliente</th>
          <th>Responasbles</th>
          <th>Fecha de entrega</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr>
          <td>
            <a href="{% url 'workarea/projects/detail' projects.id %}">
              {{ project.title }}
            </a>
          </td>
          <td>{{ project.code }}</td>
          <td>{{ project.type_of_incoming }}</td>
          <td>{{ project.budget }}</td>
          <td>{{ project.contact }}</td>
          <td>{{ project.user }}</td>
          <td>{{ project.due_at}}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'workarea/projects/edit' projects.id %}">
                  <i class="bx bx-edit-alt me-1"></i>Edit
                </a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bx bx-trash me-1"></i>Delete
                </a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class="table-border-bottom-0">
        <tr>
          <th>Nombre</th>
          <th>Código</th>
          <th>Tipo de ingreso</th>
          <th>Presupuesto</th>
          <th>Cliente</th>
          <th>Responasbles</th>
          <th>Fecha de entrega</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}