{% extends './../base.html' %}
{% block content %}
{% load static %}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Contactos/</span> </h4>
<!-- Basic Bootstrap Table -->
<div class="card">
  <div class="table-responsive text-nowrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre y apellido</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Compañía</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td>
            {{contact.name}} {{contact.lastname}}
          </td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.company}}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bx bx-edit-alt me-1"></i>Edit
                </a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bx bx-trash me-1"></i>Delete
                </a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class="table-border-bottom-0">
        <tr>
          <th>Nombre y apellido</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Compañía</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}