{% extends './base.html' %}
{% block content %}
<!-- Content -->
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <!-- /Logo -->
          <form action="/workarea/signup/" method="post">
            {% csrf_token %}
            {{form.as_div}}
            <button class="btn btn-primary d-grid w-100">
              Signup
            </button>
            <span class="msg">
              {{error}}
            </span>
          </form>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>
<!-- / Content -->
{% endblock %}