{% extends 'base.html' %}
{% block content %}
{% load static %}

<main class="tras">
  <div class="logo">
    <img src="{% static 'images/logo.svg' %}" alt="">
  </div>
  <div class="content">
    <div class="content_text">
      <h2>Elementum suscipit malesuada</h2>
      <p>Mauris id tortor a massa finibus lobortis vitae ac libero. Cras eget ex vel leo tincidunt fermentum. Vivamus
        magna augue, vestibulum id felis non, rutrum ornare dui. </p>
      <p>Cras vestibulum, arcu dapibus varius sagittis, dolor erat auctor nulla, quis elementum massa mi fermentum
        velit. </p>
      <button class="js-activeContactModal">Contáctanos</button>
    </div>
  </div>
</main>

<div class="modal">
  <div class="modal_content">
    <span class="material-symbols-sharp">cancel</span>
    <div class="modal_content_form">
      <form method="post" class="modal_form">
        <h3>Qué tal!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam earum, omnis veniam.</p>
        {% csrf_token %}
        {{form.as_div}}
        <button class="js-sendForm">
          Enviar
        </button>
        {{error}}
      </form>
    </div>
    <div class="modal_content_message">
      <h3>Encantado de conocerte!</h3>
      <p>Pronto nos pondremos en contacto ;)</p>
    </div>
  </div>
</div>

{% endblock %}